@import 'svg-elements';

.map-wrapper {
  position: relative;
}

.map-tooltip {
  display: block;
  opacity: 0;

  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;

  border: solid 1px;
  background-color: steelblue;
  color: white;

  padding: 1em;

  transition: opacity linear 200ms;

  pointer-events: none;

  &.visible {
    opacity: 1;
  }
}